{
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier"
  ],
  "rules": {
    "consistent-return": "off",
    "no-await-in-loop": "off",
    "no-bitwise": "off",
    "no-console": "off",
    "no-param-reassign": "off",
    "no-restricted-globals": "off",
    "no-restricted-syntax": "off",
    "no-return-assign": "off",
    "no-shadow": "off",
    "no-use-before-define": "off",
    "import/extensions": "off",
    "import/export": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-inferrable-types": "off"
  },
  "overrides": [
    {
      "files": ["**/*.js", "**/scripts/*.ts"],
      "rules": {
        "import/no-extraneous-dependencies": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}
