{
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "example",
    "**/*.d.ts"
  ],
  "reporter": [
    "text",
    "lcov"
  ],
  "all": true
}
